
body {
    background-size: cover;
    background-color: #555555;
}

#contenthost {
    height: 100%;
    width: 100%;
}

.fragment {
    /* バナーと本体の行を含むグリッドを定義 */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

/* s- prefix 付のクラスはここで定義 */
.s-glassiness-text {
    text-shadow: 0px 0px 6px #999;
}

.s-glassiness {
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 2px #666;
}
