
.appSetting .win-settingsflyout .win-content h2 {
    margin-bottom: 14px;
}
.appSetting .win-settingsflyout .win-content .win-settings-section p {
    margin-bottom: 8px;
    padding-bottom: 0px;
}
