
.account-adding-view-component {
    padding: 10px;
}
.account-adding-view-component.hide {
    display: none;
}

.account-adding-view-component section {
    padding: 2px 0;
}

.account-adding-view-component .process {
    margin-bottom: 10px;
}
.account-adding-view-component .process > .hide,
.account-adding-view-component > section > section > .hide {
    display: none;
}
.account-adding-view-component > section > h1 {
    margin: 12px 8px;
    font-size: 24px;
}
.account-adding-view-component section > section {
    margin: 8px;
}
.account-adding-view-component section section h1 {
    margin-bottom: 8px;
    font-size: 18px;
}
