
.account-list-view-component {
    padding: 10px;
}

.account-list-view-component > section > h1 {
    font-size: 120%;
}

.account-list-view-component .account-list-view .win-item {
    box-sizing: border-box;
    padding: 8px;
    width: 200px;
    height: 50px;
}
