
.timeline-view-component {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}
.timeline-view-component.hide {
    display: none;
}

.timeline-view-component > section{
    border: solid 2px rgba(0, 0, 0, 0.7);
    border-radius: 8px;

    display: -ms-flexbox;
    -ms-flex-direction: column;
}
.timeline-view-component > section h1 {
    font-size: 120%;
    margin: 5px 8px;
}
.timeline-view-component .status-list {
    -ms-flex: 1 1 auto;
    overflow: auto;
}

.timeline-view-component .timeline-view-header {
    border-bottom: solid 1px rgba(0, 0, 0, 0.7);
}

.timeline-view-component .status {
    position: relative;
    margin: 5px 8px;
    padding: 3px;
    padding-left: 55px;
    min-height: 48px;

    overflow: auto;
}
/* profile pege へのリンク色は通常色 */
.timeline-view-component .status .user-box a,
.timeline-view-component .status .retweeter-box a {
    color: inherit;
}
.timeline-view-component .status .profile-image-container {
    position: absolute;
    top: 3px; left: 3px;
    width: 48px; height: 48px;
}
.timeline-view-component .status .profile-image {
    width: 100%; height: 100%;
}
.timeline-view-component .status .user-box .name {
    font-weight: bold;
}
.timeline-view-component .status .screen-name {
    opacity: 0.8;
}
.timeline-view-component .status .created-at {
    display: none;
}
.timeline-view-component .status .retweeter-box {
    font-size: 85%;
    text-align: right;
    opacity: 0.8;
    margin-left: -50px;
}
.timeline-view-component .status .retweeter-box .profile-image {
    width: 16px; height: 16px;
    vertical-align: middle;
}
.timeline-view-component .status .retweeter-box .screen-name-container {
    display: none;
}

/* ---- stream の状態 ---- */
.timeline-view-component .stream-control > .stream-working,
.timeline-view-component .stream-control > .stream-not-working {
    text-align: right;
    margin-right: 8px;
}
.timeline-view-component .stream-control > .stream-working.hide,
.timeline-view-component .stream-control > .stream-not-working.hide {
    display: none;
}

/* ---- 投稿フォーム ---- */
.timeline-view-component .tweet-form {
    margin: 8px;
}
.timeline-view-component .tweet-form:not(.active) textarea {
    height: 1.8em;
    min-height: 1.8em;
}
.timeline-view-component .tweet-form textarea {
    height: 4em;
    width: 100%;
    box-sizing: border-box;
}
.timeline-view-component .tweet-form:not(.active) button {
    display: none;
}
.timeline-view-component .tweet-form.progress button {
    display: none;
}
.timeline-view-component .tweet-form:not(.progress) progress {
    display: none;
}
/* 返信周り */
.timeline-view-component .tweet-form:not(.active) .status-replied-to-box,
.timeline-view-component .tweet-form:not(.reply) .status-replied-to-box {
    display: none;
}

/* status の詳細情報 */
.timeline-view-component .timeline-item-flyout.win-flyout {
    padding: 0;
}
.timeline-view-component .timeline-item-flyout.win-flyout .target-item-container {
    max-width: 500px;
}
.timeline-view-component .timeline-item-flyout.win-flyout .status .text {
    margin-bottom: 0.3em;
}
.timeline-view-component .timeline-item-flyout.win-flyout .status .created-at {
    display: block;
    font-size: 85%;
}
.timeline-view-component .timeline-item-flyout.win-flyout .status .retweeter-box .created-at {
    font-size: 100%;
}
.timeline-view-component .timeline-item-flyout.win-flyout .status .created-at a,
.timeline-view-component .timeline-item-flyout.win-flyout .status .retweeter-name-container a {
    color: #666666;
}
/* a 要素の下に別の要素があると a:active が有効にならないので, とりあえず :active は使わないことにする */
.timeline-view-component .timeline-item-flyout.win-flyout .status .user-box a:hover,
.timeline-view-component .timeline-item-flyout.win-flyout .status .retweeter-box a:hover,
.timeline-view-component .timeline-item-flyout.win-flyout .status .created-at a:hover,
.timeline-view-component .timeline-item-flyout.win-flyout .status .retweeter-name-container a:hover {
    color: #9999CC;
}
.timeline-view-component .timeline-item-flyout.win-flyout .status .retweeter-box {
    color: #666666;
    opacity: 1;
    margin-top: 0.4em;
}
.timeline-view-component .timeline-item-flyout.win-flyout .status .retweeter-box .screen-name-container {
    display: inline;
}
/* status に対する action */
.timeline-view-component .timeline-item-flyout.win-flyout .timeline-item-cmds {
    margin: 8px;
    max-width: 300px;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2px 1fr 2px 1fr;
}
.timeline-view-component .timeline-item-flyout.win-flyout .timeline-item-cmds .timeline-item-cmd-set-reply-to {
    -ms-grid-column: 1;
}
.timeline-view-component .timeline-item-flyout.win-flyout .timeline-item-cmds .timeline-item-cmd-req-fav {
    -ms-grid-column: 3;
}
.timeline-view-component .timeline-item-flyout.win-flyout .timeline-item-cmds .timeline-item-cmd-req-rt {
    -ms-grid-column: 5;
}
.timeline-view-component .timeline-item-flyout.win-flyout .timeline-item-cmds .timeline-item-cmd {
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
    display: -ms-grid;
}
.timeline-view-component .timeline-item-flyout.win-flyout .timeline-item-cmds .timeline-item-cmd > * { /* グリッド内の中央に配置 */
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}
.timeline-view-component .timeline-item-cmd:not(.stat-completed) .completed,
.timeline-view-component .timeline-item-cmd:not(.stat-progress) .progress {
    visibility: hidden;
}
.timeline-view-component .timeline-item-cmd.stat-completed .before-request,
.timeline-view-component .timeline-item-cmd.stat-progress .before-request {
    visibility: hidden;
}
