<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="cf9c0337-8ee9-49cc-9e5a-ca7cc089ac9b" Version="0.1.0.2" Publisher="CN=Yu NOBUOKA" />
  <Properties>
    <DisplayName>ms-resource:000_appName</DisplayName>
    <PublisherDisplayName>Yu NOBUOKA</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="ms-resource:000_appName" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="ms-resource:002_appDescription" ForegroundText="light" BackgroundColor="#333333">
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
